<!DOCTYPE html >
<html lang="en" ng-app="RASysMobile">
<head></head>
<body style="width:100%; height:100vh; background-color:whitesmoke; color:#666666;font-size:.95em;">
<div style="margin:2rem;">
 <div>
   <h3 style="margin:0rem;">Confirmation Message</h3>
   <p>Thank you. This Risk Assessment has been confirmed.</p>
</div>
</body>
</html>


