<div style="">

  <div layout="column" class=md-padding style="height:95vh;">

    <md-card class="md-padding" style="background-color:whitesmoke;">
      <md-title>
        <md-title-text class="md-display-2"><strong>Summary</strong></md-title-text>
      </md-title>
      <md-card-content style="margin-top:3rem;">
        <p class="md-display-2" style="color:#333;">{{ group.title }} has gone <u>365</u> days without an injury or accident.</p>
      </md-card-content>
      <md-card-footer>
        <div layout layout-align="end">
          <span class="md-display-1" style="color:blue;"><u>More Info</u></span>
        </div>
      </md-card-footer>
    </md-card>
    <md-card class="md-padding" style="background-color:whitesmoke;">
      <md-card-header>
        <md-title>
          <md-title-text class="md-display-2"><strong>Monthly Status</strong></md-title-text>
        </md-title>
      </md-card-header>
      <md-card-content>
        <ul class="md-display-2" style="list-style: none;color:#333;">
          <li style="margin:1rem;"><u>00</u> completed audits</li>
          <li style="margin:1rem;"><u>00</u> required audits</li>
          <li style="margin:1rem;"><u>00</u> optional audits</li>
        </ul>
      </md-card-content>
    </md-card>


  </div>
</div>
