<div style="">

  <div layout="column" class=md-padding style="height:auto;">

    <md-card class="md-padding md-display-2" style="background-color:whitesmoke;">
      <md-title>
        <md-title-text><h4>Days Since Report</h4></md-title-text>
      </md-title>
      <md-card-content style="margin-top:3rem;">
        <p class="md-display-2" style="color:#333;">{{ group.title }} has gone <u>365</u> days without an injury or accident.</p>
      </md-card-content>
      <md-card-footer>
        <div layout layout-align="end">
          <span class="md-display-1" style="color:blue;"><u>More Info</u></span>
        </div>
      </md-card-footer>
    </md-card>
    <md-card class="md-padding md-display-2" style="background-color:whitesmoke;">
      <md-title>
        <md-title-text>
          <h4 ><strong>Monthly Risk Assessments</strong></h4>
        </md-title-text>
      </md-title>

      <md-card-content style="height:auto;">
        <div layout layout-align="space-between center" style="margin:2rem;">
          <div ng-init="showEmployees = false">{{ required.length }} required</div>
          <div ng-click="showEmployees = !showEmployees" style="color:blue;">
            <div ng-if="!showEmployees"  style="color:blue;">
              <small layout layout-align="center center">
                <i class="material-icons" style="font-size:3rem;">chevron_right</i>
                show
              </small>
            </div>
            <div ng-if="showEmployees" layout layout-align="center center">
              <small layout layout-align="center center">
                <i class="material-icons" style="font-size:3rem;">expand_more</i>
                hide
              </small>
            </div>
          </div>
        </div>
        <div ng-if="showEmployees" layout layout-align="space-between center" ng-repeat="person in required"
              class="md-display-1" style="margin:3rem 2rem;padding:2rem;background-color:#ededed;border:solid thin #888;">
          <a layout layout-align="space-between center" href="" ng-click="start(person.employee)" ng-dblclick="preventClick()" style="width:100%;">
            <div>{{ person.employee.fname }} {{ person.employee.lname }}</div>
            <span class="nav">
              <i class="material-icons">navigate_next</i>
            </span>
          </a>
        </div>
        <md-divider></md-divider>
        <div layout layout-align="space-between center" style="margin:2rem;">
          <div ng-init="showOptionalEmployees = false">{{ optional.length }} optional</div>
          <div ng-click="showOptionalEmployees = !showOptionalEmployees" style="color:blue;">
            <div ng-if="!showOptionalEmployees"  style="color:blue;">
              <small layout layout-align="center center">
                <i class="material-icons" style="font-size:3rem;">chevron_right</i>
                show
              </small>
            </div>
            <div ng-if="showOptionalEmployees" layout layout-align="center center">
              <small layout layout-align="center center">
                <i class="material-icons" style="font-size:3rem;">expand_more</i>
                hide
              </small>
            </div>
          </div>
        </div>
        <div ng-if="showOptionalEmployees" ng-repeat="person in optional"
              class="md-display-1" style="margin:3rem 2rem;padding:2rem;background-color:#ededed;border:solid thin #888;">
          <a layout layout-align="space-between center" href="" ng-click="start(person.employee)" ng-dblclick="preventClick()" style="width:100%;">
            <div>{{ person.employee.fname }} {{ person.employee.lname }}</div>
            <span class="nav">
              <i class="material-icons">navigate_next</i>
            </span>
          </a>
        </div>
      </md-card-content>
    </md-card>


  </div>
</div>
