<div layout="column" layout-align="center start" class="md-display-2">
  <div style="padding:1rem 1rem">
    <div layout layout-align="space-between center">
      <a href="" ui-sref="ra-mobile.evaluation({id:assessmentId,active:assessmentStatus})" class="md-padding" style="text-decoration:none;"><i class="material-icons" style="font-size:6rem;color:dodgerblue;">navigate_before</i></a>
      <a href="" ui-sref="ra-mobile.recognize({id:assessmentId,active:assessmentStatus})" class="md-padding" style="text-decoration:none;"><i class="material-icons" style="font-size:6rem;color:dodgerblue;">navigate_next</i></a>
    </div>
    <div layout="column" layout-align="space-between" class="md-display-2" style="margin-top:1rem;padding:1rem;width:100%;">
      <div style="width:100%;">
        <h4 style="margin-top:0;">Coaching </h4>

      </div>
      <div style="font-size:2rem;font-weight:200;">
        <p>Coaching Tips</p>
      </div>
      <div >
        <p style="font-size:2.5rem;">While observing <em ng-cloak>{{ employee.fname }} {{ employee.lname }}</em> for 30 minutes observe each hazard encountered
          and coach <em ng-cloak>{{ employee.fname }}</em> on how to avoid these hazards.</p>
      </div>
    </div>


  </div>

</div>
