<div layout="column" layout-align="center start" style="font-size:2.8rem;">
  <div style="width:100%;">
    <div layout layout-align="start start" style="padding:1rem 1rem;">
      <a href="" ui-sref="ra-mobile.recognize({id:assessmentId,active:assessmentStatus})" class="md-padding" style="text-decoration:none;"><i class="material-icons" style="font-size:6rem;color:dodgerblue;">navigate_before</i></a>
      </div>
    <div layout="column"  style="margin-top:1rem;padding:2rem;width:100%;">
      <div layout="column"  style="width:100%;padding:1rem;">
        <div layout layout-align="start start" style="width:100%;">
          <h4 style="margin:1rem;">Summary</h4>
        </div>
        <div layout layout-align="end start" style="width:100%;">
          <a href="" ng-click="deleteAssessment(assessmentId)" ng-dblclick="preventClick()" class="md-padding" style="text-decoration:none;color:white;background-color:indianred;">delete</a>
        </div>
      </div>

      <div layout="column" layout-align="start start" md-whiteframe="2" class="md-padding" style="background-color:whitesmoke;width:100%;">
        <div layout layout-align="space-between center" style="width:100%;padding:2rem 0;">
          <div layout layout-align="start center">
            <h5 style="margin:1rem 1rem;">Employee</h5>
            <span>{{ employee.fname }} {{ employee.lname  }}</span>
          </div>
          <div>
            <a href="">change</a>
          </div>
        </div>
        <div layout layout-align="start center" style="width:100%;border-top:solid thin darkgrey;padding: 2rem 0;">
          <div layout layout-align="space-between start" style="width:100%;">
            <h5 style="margin:1rem 1rem;">Safe Reactions <span class="isRequired">*</span></h5>
            <span ng-if="allReactions.length < 1" class="isRequired"><small>must identify hazard</small></span>
          </div>
          <span ng-if="allReactions.length >= 1"style="margin-right:3rem;">{{ safeReactions.length }} out of {{ allReactions.length }}</span>
        </div>
        <div layout="column" style="width:100%;border-top:solid thin darkgrey;padding: 2rem 0;">
          <div layout layout-align="space-between center" style="width:100%;">
            <div layout layout-align="start center">
              <h5 style="margin:1rem 1rem;">Weather Conditions <span class="isRequired">*</span></h5>
              <span>{{ condition  }}</span>
            </div>
            <div>
              <a href="" ng-click="showWeatherConditionsForm = !showWeatherConditionsForm" ng-class="{isRequired:condition === null}">update</a>
            </div>
          </div>
          <div layout="column" ng-if="showWeatherConditionsForm" ng-init="showWeatherConditionsForm = false">

              <form name="weatherConditionForm" ng-submit="setWeatherCondition(assessmentId,selectedCondition);!showWeatherConditionsForm" class="md-padding" md-whiteframe="3">
                <label for="conditions"><small><em>Select Condition</em></small></label>
                <select ng-model="selectedCondition" ng-options="x for x in weatherConditions" id="conditions"
                        style="width:100%;" required></select>
                <div layout layout-align="end start">
                  <md-button ng-disabled="weatherConditionForm.$invalid" type="submit" class="md-padding"
                             ng-class="{active: weatherConditionForm.$valid}"
                             style="margin-top:1.5rem; border: solid thin darkslategrey;padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">
                    <span>UPDATE</span></md-button>
                </div>
              </form>

          </div>
        </div>
        <div layout="column" layout-align="space-between center" style="width:100%;border-top:solid thin darkgrey;padding: 2rem 0;border-bottom:solid thin darkgrey;">

          <div layout layout-align="space-between center" style="width:100%;">
            <div layout layout-align="start center">
              <h5 style="margin:1rem 1rem;">Driver License <span class="isRequired">*</span></h5>
              <span ng-class="{isError: validLicense != true,isValid: validLicense === true}">{{ driverLicense }} </span>
              <span ng-if="validLicense === true" class="isValid" style="margin-left:.5rem;">
                <i class="material-icons" style="font-size:2.5rem;">verified_user</i></span>
            </div>
            <div layout>
              <a href="" ng-click="showLicenseForm =!showLicenseForm" ng-class="{isRequired:validLicense != true}">update</a>
            </div>
          </div>
          <div ng-if="showLicenseForm" ng-init="showLicenseForm = false" layout layout-align="start center"
               style="width:100%;">
            <form name="driverLicenseForm" ng-submit="submitDriverLicense(month,date,year)" layout
                  layout-align="space-around center" class="md-padding" md-whiteframe="3"
                  style="margin:2rem;background-color:whitesmoke;width:100%;">
              <div layout="column" style="width:100%;">
                <legend style="font-size:2rem;">Driver License<em> (Exp Date)</em></legend>

                <div layout style="font-size:3rem; color:#333; width:100%;margin:1rem;">
                  <div layout="column" style="width:33%;">
                    <div>
                      <span>Month</span>
                    </div>
                    <div>
                      <select ng-model="month" id="month" ng-options="m for m in months" required
                              style="width:100%;"></select>
                    </div>
                  </div>
                  <div layout="column" style="width:33%;">
                    <div>
                      <span>Date</span>
                    </div>
                    <div>
                      <select ng-model="date" id="date" ng-options="d for d in dates" required
                              style="width:100%;"></select>
                    </div>
                  </div>
                  <div layout="column" style="width:33%;">
                    <div>
                      <span>Year</span>
                    </div>
                    <div>
                      <select ng-model="year" id="year" ng-options="y for y in years" required
                              style="width:100%;"></select>
                    </div>
                  </div>
                </div>

                <div layout layout-align="end start">
                  <md-button ng-disabled="driverLicenseForm.$invalid" type="submit" class="md-padding"
                             ng-class="{active: driverLicenseForm.$valid}"
                             style="margin-top:1.5rem; border: solid thin darkslategrey;padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">
                    <span>SET</span></md-button>
                </div>

              </div>

            </form>
          </div>
        </div>
        <div layout="column" layout-align="center" >
          <div layout layout-align="start center" style="width:100%;padding: 2rem 0;border-bottom:solid thin darkgrey;">
            <h5 style="margin:1rem 1rem;">Duration</h5>
            <span ng-if="duration < 90" style="margin-right:.5rem;">{{ duration |number:0}}</span><span ng-if="duration > 90">90+</span>
            <span ng-if="duration < 1.5">Minute</span><span ng-if="duration > 1.5">Minutes</span>
          </div>
          <div layout layout-align="space-between center" style="margin-top: 1rem;">
            <h5 style="margin:1rem 1rem;">Location</h5>
            <div><a href="" ng-click="updateLocation()" ng-dblclick="preventClick()"><i class="material-icons" style="font-size:4rem;font-weight:bolder;color:rgba(0,128,0,0.51);">autorenew</i></a></div>
          </div>
          <div layout style="margin-top:2rem;">
            <img src="{{ url }}" alt="google map" />
          </div>
        </div>
      </div>
    </div><!--End of card-->
    <div layout layout-align="center center" style="width:100%;">
      <form name="completeAssessmentForm" ng-submit="complete()">
        <md-button ng-disabled="isDisabled()" type="submit" class="md-padding"
                   ng-class="{active:reqsMet()}"
                   style="margin-top:1.5rem; padding:.5rem; width:auto;height:6rem;text-align: center; font-size:2rem;">
          <span>COMPLETE</span>
        </md-button>
      </form>

    </div>
  </div>

</div>
