<div layout="column" layout-align="center start" style="font-size:2.8rem;">
  <div style="width:100%;">
    <div layout layout-align="start start" style="padding:1rem 1rem;">
      <a href="" ui-sref="ra-mobile.recognize({id:assessmentId,active:assessmentStatus})" class="md-padding" style="text-decoration:none;"><i class="material-icons" style="font-size:6rem;color:dodgerblue;">navigate_before</i></a>
      </div>
    <div layout="column"  style="margin-top:1rem;padding:2rem;width:100%;">
      <div layout="column"  style="width:100%;padding:1rem;">
        <div layout layout-align="start start" style="width:100%;">
          <h4 style="margin:1rem;">Summary</h4>
        </div>
        <div layout layout-align="end center" style="width:100%;">
          <form name="completeAssessmentForm" ng-submit="complete(assessment,lat,lng)">
            <md-button ng-disabled="isDisabled()" type="submit" class="md-padding"
                       ng-class="{active:reqsMet(),disabled: isDisabled()}"
                       style="padding:.5rem; width:auto;height:6rem;border:solid thin lightgray;text-align:center; font-size:2rem;">
              complete
            </md-button>
          </form>
          <md-button ng-click="deleteAssessment(assessmentId)" ng-dblclick="preventClick()"
                     class="md-padding"
                     style="padding:.5rem; width:auto;height:6rem;border:solid thin lightgray;text-align:center; font-size:2rem;background-color: indianred;color:white!important;">
            delete
          </md-button>
        </div>
      </div>

      <div layout="column" layout-align="start start" md-whiteframe="2" class="md-padding" style="background-color:whitesmoke;width:100%;">
        <div layout layout-align="space-between center" style="width:100%;padding:2rem 0;">
          <div layout layout-align="start center">
            <h5 style="margin:1rem 1rem;">Employee</h5>
            <span>{{ employee.fname }} {{ employee.lname  }}</span>
          </div>
          <div>
            <a href="" ng-click="showChangeEmployeeForm = !showChangeEmployeeForm; getEmployeeList()">update</a>
          </div>
        </div>
        <div layout="column" ng-if="showChangeEmployeeForm" ng-init="showChangeEmployeeForm = false" style="width:100%;">
          <form name="changeEmployeeForm" ng-submit="changeEmployee(selectedEmployeeId)">
            <label for="employee"><small><em>Select Employee</em></small></label>
            <select ng-model="selectedEmployeeId" id="employee"
                             style="width:100%;" required>
            <option ng-repeat="employee in employeeList" value="{{employee.id}}">{{employee.fname}} {{employee.lname}}</option>
          </select>
            <div layout layout-align="end start">
              <md-button ng-disabled="changeEmployeeForm.$invalid" type="submit" class="md-padding"
                         ng-class="{disabled: changeEmployeeForm.$invalid, active: changeEmployeeForm.$valid}"
                         style="margin-top:1.5rem; padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">
                set</md-button>
            </div>
          </form>
        </div>
        <div layout layout-align="start center" style="width:100%;border-top:solid thin darkgrey;padding: 2rem 0;">
          <div layout layout-align="space-between center" style="">
            <h5 style="margin:1rem 1rem;">Safe Reactions <span>*</span></h5>
            <span ng-if="allReactions.length < 1" class="isRequired"><small>must identify hazard</small></span>
          </div>
          <span ng-if="allReactions.length >= 1"style="width:40%;">{{ safeReactions.length }} out of {{ allReactions.length }}</span>
        </div>
        <div layout="column" style="width:100%;border-top:solid thin darkgrey;padding: 2rem 0;">
          <div layout layout-align="space-between center" style="width:100%;">
            <div layout layout-align="start center">
              <h5 style="margin:1rem 1rem;">Weather Conditions <span>*</span></h5>
              <span ng-if="condition === null"><small><em>not set</em></small></span>
              <span>{{ condition  }}</span>
            </div>
            <div>
              <a href="" ng-click="showWeatherConditionsForm = !showWeatherConditionsForm">update</a>
            </div>
          </div>
          <div layout="column" ng-if="showWeatherConditionsForm" ng-init="showWeatherConditionsForm = false">

              <form name="weatherConditionForm" ng-submit="setWeatherCondition(assessmentId,selectedCondition);!showWeatherConditionsForm" class="md-padding" md-whiteframe="3">
                <label for="conditions"><small><em>Select Condition</em></small></label>
                <select ng-model="selectedCondition" ng-options="x for x in weatherConditions" id="conditions"
                        style="width:100%;" required></select>
                <div layout layout-align="end start">
                  <md-button ng-disabled="weatherConditionForm.$invalid" type="submit" class="md-padding"
                             ng-class="{disabled: weatherConditionForm.$invalid, active: weatherConditionForm.$valid}"
                             style="margin-top:1.5rem; padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">
                   set</md-button>
                </div>
              </form>

          </div>
        </div>
        <div layout="column" layout-align="space-between center" style="width:100%;border-top:solid thin darkgrey;padding: 2rem 0;border-bottom:solid thin darkgrey;">

          <div layout layout-align="space-between center" style="width:100%;">
            <div layout layout-align="start center">
              <h5 style="margin:1rem 1rem;">Driver License <span>*</span></h5>
              <span ng-if="validLicense != true"><small><em>not set</em></small></span>
              <span ng-class="{isError: validLicense != true,isValid: validLicense === true}">{{ driversLicense }} </span>
              <span ng-if="validLicense === true" class="isValid" style="margin-left:.5rem;"></span>
            </div>
            <div layout>
              <a href="" ng-click="showLicenseForm =!showLicenseForm">update</a>
            </div>
          </div>
          <div ng-if="showLicenseForm" ng-init="showLicenseForm = false" layout layout-align="start center"
               style="width:100%;">
            <form name="driversLicenseForm" ng-submit="submitDriversLicense(month,date,year)" layout
                  layout-align="space-around center" class="md-padding" md-whiteframe="3"
                  style="margin:2rem;background-color:whitesmoke;width:100%;">
              <div layout="column" style="width:100%;">
                <legend style="font-size:2rem;">Driver License<em> (Exp Date)</em></legend>

                <div layout style="font-size:3rem; color:#333; width:100%;margin:1rem;">
                  <div layout="column" style="width:33%;">
                    <div>
                      <span>Month</span>
                    </div>
                    <div>
                      <select ng-model="month" id="month" ng-options="m for m in months" required
                              style="width:100%;"></select>
                    </div>
                  </div>
                  <div layout="column" style="width:33%;">
                    <div>
                      <span>Date</span>
                    </div>
                    <div>
                      <select ng-model="date" id="date" ng-options="d for d in dates" required
                              style="width:100%;"></select>
                    </div>
                  </div>
                  <div layout="column" style="width:33%;">
                    <div>
                      <span>Year</span>
                    </div>
                    <div>
                      <select ng-model="year" id="year" ng-options="y for y in years" required
                              style="width:100%;"></select>
                    </div>
                  </div>
                </div>

                <div layout layout-align="end start">
                  <md-button ng-disabled="driversLicenseForm.$invalid" type="submit" class="md-padding"
                             ng-class="{active: driversLicenseForm.$valid, disabled:driversLicenseForm.$invalid}"
                             style="margin-top:1.5rem; border: solid thin darkslategrey;padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">
                    set</md-button>
                </div>

              </div>

            </form>
          </div>
        </div>
        <div layout="column" layout-align="center" >
          <div layout layout-align="start center" style="width:100%;padding: 2rem 0;border-bottom:solid thin darkgrey;">
            <h5 style="margin:1rem 1rem;">Duration</h5>
            <span ng-if="duration < 90" style="margin-right:.5rem;">{{ duration |number:0}}</span><span ng-if="duration > 90">90+</span>
            <span ng-if="duration < 1.5">Minute</span><span ng-if="duration > 1.5">Minutes</span>
          </div>
          <div layout layout-align="space-between center" style="margin-top: 1rem;">
            <h5 style="margin:1rem 1rem;">Location</h5>
            <div><md-button ng-click="updateLocation()" ng-dblclick="preventClick()"><i class="material-icons" style="font-size:4rem;font-weight:bolder;color:dodgerblue;">gps_fixed</i></md-button></div>
          </div>
          <div layout style="margin-top:2rem;">
            <img src="{{ url }}" alt="google map" />
          </div>
        </div>
      </div>
    </div><!--End of card-->
    <div layout layout-align="center center" style="width:100%;margin-bottom:2rem;">


    </div>
  </div>

</div>
