<div class="md-display-2">
  <div class="md-padding">
    <h3>Search</h3>
    <md-card style="background-color:whitesmoke;" style="width:100%;">
      <md-card-header>
        <span>By Quarter</span>
      </md-card-header>
      <md-card-content >
        <form name="searchForm">
          <div layout layout-align="space-between center" style="width:100%;border:solid thin green;">

              <input name="qtr" ng-model="selectedQtr" type="radio" value="1" id="q1" required><label
              for="q1">Q1</label>
              <input name="qtr" ng-model="selectedQtr" type="radio" value="3" id="q3"><label
              for="q3">Q3</label>
              <input name="qtr" ng-model="selectedQtr" type="radio" value="4" id="q4"><label
              for="q4">Q4</label>

              <input name="qtr" ng-model="selectedQtr" type="radio" value="2" id="q2"><label
              for="q2">Q2</label>
          </div>
          <div layout layout-align="end center" style="width:100%;">
            <md-button type="submit" class="active md-display-2"
                       style="margin-top:1.5rem;padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">Search</md-button>
          </div>
        </form>
      </md-card-content>
      <md-card-footer>
      </md-card-footer>
    </md-card>

    <md-card>
      <md-card-header style="background-color: whitesmoke;">
        <span>By Month</span>
      </md-card-header>
      <md-card-content>
        <form action="">
          <div style="margin: 2rem;width:100%;">
            <select ng-model="selectedMonth" ng-options="month.number as month.name for month in months" style="width:80%;"></select>
          </div>
          <div layout layout-align="end center" style="width:100%;">
            <md-button type="submit" class="active md-display-2"
                       style="margin-top:1.5rem;padding:.5rem; width:40%;height:6rem;text-align: center; font-size:2rem;">Search</md-button>
          </div>
        </form>
      </md-card-content>
      <md-card-footer>
      </md-card-footer>
    </md-card>
  </div>
</div>
