<div class="md-display-2">
  <div class="md-padding">
    <h3>Search</h3>
    <div layout layout-align="space-between center" style="margin: 2rem">
      <div layout layout-align="center center" style="width:6rem; height:6rem;background-color:dodgerblue;color:white;text-align: center;">Q1</div>
      <div layout layout-align="center center" style="width:6rem; height:6rem;background-color:dodgerblue;color:white;text-align: center;">Q2</div>
      <div layout layout-align="center center" style="width:6rem; height:6rem;background-color:dodgerblue;color:white;text-align: center;">Q3</div>
      <div layout layout-align="center center" style="width:6rem; height:6rem;background-color:dodgerblue;color:white;text-align: center;">Q4</div>
    </div>
    <div ng-repeat="month in months" style="margin-top: 2rem;">
      <div layout layout-align="center center" class="md-padding" style="margin:1rem;border:solid thin #444444;background-color:rgba(68,68,68,0.31);">
        {{month}}
      </div>
    </div>
  </div>
</div>
